<div class="loading cbox">Processing...</div>
<div class="ajax-error-cbox cbox">
  <div class="modal-inner">
    <div class="ajax-error-title">Error</div>
    <div class="ajax-error-message"></div>
  </div>
</div>
<div class="ajax-success-cbox cbox">
  <div class="overlay"></div>
       
  <div class="content">
    <p class="success-message show-cart"><span>"<strong class="product-title"></strong>" {{ 'message.success_cart' | t }}</span><a href="/cart">{{ 'header.viewcart' | t }}</a></p>
    <p class="success-message show-wishlist">{{ 'message.success_wishlist' | t }}</p> 
  </div>    
</div>